<!DOCTYPE html>
<html>
<head>
<title>Desafio</title>
</head>
<body>
    <h1>Desafio</h1>
    <p>Seja bem-vindo ao Desafio de Orientação à Objetos</p>
    <br>
    <form name="form" method="POST" action="/desafio/resultado">
        <p>Nos exemplos abaixo, qual expressão caracteriza o conceito de classe e objetos?</p>
        <input type="radio" name="classe" value="1" /> console.log('Objeto em desenvolvimento') <br>
        <input type="radio" name="classe" value="2" /> function GetCaracteristicas()<br>
        <input type="radio" name="classe" value="3" /> var maria = new Crianca('Maria')
        <br><br>
        <p>Nos exemplos abaixo, qual expressão caracteriza o conceito de herança?</p>
        
        <input type="radio" name="heranca" value="1" /> console.log('Objeto não identificado') <br>
        <input type="radio" name="heranca" value="2" /> function GetConfiguracoes()<br>
        <input type="radio" name="heranca" value="3" /> Crianca.prototype = Object.create(Responsavel.prototype);
        <br><br>
        <p>Nos exemplos abaixo, qual expressão caracteriza o conceito de métodos e comportamentos?</p>
        
        <input type="radio" name="metodo" value="1" /> document.forms <br>
        <input type="radio" name="metodo" value="2" /> var x = 10<br>
        <input type="radio" name="metodo" value="3" /> function TrocarFralda(materialDepositado)
        <br><br>
        <button type="submit" name="btnAnalisar">Analisar</button>
    </form>
    
</body>
</html>