<!DOCTYPE html>
<html>
<head>
<title>Desafio</title>
</head>
<body>
    <h1>Resultado</h1>
    <br>
    <h3>Você não acertou todas as questões!</h3>
    <br><br>
    <form name="form" type="POST" action="/desafio">
        <button type="submit" name="btnNovaTentativa">Tentar Novamente</button>
    </form>
</body>
</html>